<head>
    <title>Thanks But No</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
<h3>Logo</h3>
<main>
    <h1>A fancy title</h1>
    <section>
        <p>Gummies powder I love lollipop lemon drops marzipan I love muffin cupcake. Halvah cookie icing candy sweet roll topping carrot cake icing. Marshmallow toffee I love I love jelly I love pastry. Powder fruitcake gingerbread bear claw liquorice jelly-o. Bear claw gummi bears sugar plum jujubes toffee caramels bonbon lollipop. Shortbread oat cake I love halvah gummi bears cake. Cake dragée sweet apple pie sweet jelly-o fruitcake. Fruitcake lemon drops gingerbread chocolate cake cheesecake shortbread candy bear claw. Carrot cake tart danish cheesecake donut pie sesame snaps.
        </p>

        <p>
            Lemon drops wafer pie I love marzipan. I love croissant gummi bears fruitcake jelly beans. Chupa chups caramels wafer gummi bears gummi bears. Tiramisu sesame snaps fruitcake gummies cookie I love. Liquorice marzipan I love I love muffin bear claw pie. Lollipop soufflé cupcake cotton candy sugar plum. Bear claw liquorice tiramisu I love marshmallow.
        </p>

        <p>
            Cookie dragée I love bear claw cheesecake toffee bonbon shortbread. Jelly dessert pie sweet donut. Jelly beans cookie tart cotton candy pudding jelly beans sweet croissant dessert. Soufflé fruitcake tootsie roll I love liquorice bonbon. I love cake oat cake jujubes apple pie I love cotton candy tart. Topping biscuit gummi bears I love halvah candy canes I love jujubes. Oat cake cake I love danish muffin tart sweet danish soufflé. Ice cream I love ice cream caramels danish. Croissant cookie wafer tiramisu I love jelly beans chocolate cake jelly beans cookie.
        </p>
    </section>
</main>

<section class="subscribe">
    <input type="email" placeholder="Your email"/>
    <input type="button" value="Join the party"/>
</section>

<footer>
    Here will be our social media links.
</footer>
</body>