{% extends "layout.html" %}

{% block main %}
<main>
    
    <h1 class="main-heading">{{ questions | random }}</h1>
   
    <section class="animate__animated animate__fadeIn animate__slow">
        <p>For thousands of years, countless generations have given their blood, sweat and tears for us to live our happy and comfortable lives.</p>
        <p>
            From the artists who struggled to beautify our existence, to the scientists who gave their lives for the truth. From the thinkers who weren't afraid to speak their minds, to the fools who dared to try. From leaders who took matters into their own hands, to all those brave enough to conquer life. From the warriors to the peace seekers. The dreamers and the skeptics. The idealists and the realists. The living and the dead.
        </p>
        <p>We could never put into words how grateful we are, we'll start by saying this: Thank you.</p>
        <p>
            As noble a virtue as gratitude is, just as important is the ability to politely decline. That's what these giants of the past did: They refused to follow the norm. They refused to keep quiet. They refused to bow down. They refused the status quo. They refused to give up on their dreams.
        </p>
        <p>
            The best way to show them gratitude is not by using words, but by following their footsteps. So, to all those who want to keep things as they are: We politely decline. To all those unwilling to find a better way: We politely decline. To all those upholding outdated norms: We politely decline. And finally, to all those who want to keep relying on obsolete systems that were created a long time ago: Thanks, but no. 
        </p>
    </section>
</main>

    <section class="subscribe">
        <h2 class="subscribe-heading">We're building a conference and community for young makers who want to build the future.</h2>
        <form id="subscribe" class="fade-me-out" method="POST" hx-post="/subscribe" hx-target="#subscribe" hx-swap="outerHTML swap:1s">
            {{ form.hidden_tag() }}
            {{ form.email(autocomplete="off", placeholder="Your email") }}
            {{ form.submit(class="") }}
        </form>
    </section>
    {% endblock %}