{% extends "layout.html" %}
    {% block main %}
    <main>
    
    <h1>Who is it for?</h1>
   
    <section class="main-text animate__animated animate__fadeIn animate__slow">
        <p>1. You value building few strong personal relationships over "connecting" with everyone on LinkedIn.</p>
        <p>2. You're a student or a young maker under 30.</p>
        <p>3. You have an entrepreneurial mindset and a bias towards action.</p>
        <p>4. You're curious, like challanges and you want to be around people who make you grow.</p>
        <p>5. You get excited when thinking about how technology can transform people's lives and the way we'll live tomorrow.</p>
        <p>6. You see yourself building a company or joining an early-stage startup with an impactful mission.</p>
        <p>7. You believe life can get better if people devote their time and energy to improve it.</p>
    </section>
</main>
{% endblock %}