:root {
  --primary-color: #2400ff;
  --secondary-color: #fff200;
  --primary-font: "DM Sans", sans-serif;
}

body {
  max-width: 1200px;
  margin: 40px 40px;
  font-family: var(--primary-font);
  background-color: #f5f5f8;
}

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-me-in.htmx-added {
  opacity: 0;
}
.fade-me-in {
  opacity: 1;
  transition: opacity 1s ease-out;
}

main {
  margin: 50px auto;
  font-size: 40px;
}

h1 {
  font-weight: 800;
  line-height: 95%;
}

/* Start of Subscribe Form */

.subscribe {
  background-color: #efeff2;
  padding: 40px;
  border-radius: 8px;
}

input {
  border: none;
  border-radius: 25px;
  padding: 8px;
  height: 50px;
  font-size: 16px;
  font-family: var(--primary-font);
}

.subscribe input[type="email"] {
  width: 60%;
  margin-right: 10px;
}

.subscribe input[type="submit"] {
  background-color: var(--secondary-color);
  color: #000;
  font-weight: 800;
  width: 30%;
  cursor: pointer;
}

/* End of Subscribe Form */
