:root {
  --primary-color: #2400ff;
  --secondary-color: #fff200;
  --primary-font: "DM Sans", sans-serif;
}

body {
  max-width: 1200px;
  margin: 40px auto;
  font-family: var(--primary-font);
  background-color: #f5f5f8;
  background-color: var(--primary-color);
  color: #fff;
}

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-me-in.htmx-added {
  opacity: 0;
}
.fade-me-in {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.animate {
  animation: fadeIn;
  animation-duration: 2s;
}

.preload-transitions * {
  transition: none !important;
}

main {
  margin: 50px auto;
  font-size: 30px;
}

h1 {
  font-weight: 800;
  font-size: 80px;
  margin: 120px 0px;
  line-height: 1em;
}

p {
  font-size: 28px;
}

section {
  max-width: 800px;
}

.title {
  text-decoration: none;
  color: #ffffff;
}

.subscribe input[type="submit"]:hover {
  transform: scale(1.04);
}

/* Start of Subscribe Form */

.subscribe {
  background-color: #0e0066;
  padding: 40px;
  border-radius: 8px;
}

.subscribe-heading {
  color: #fff;
  margin-top: 0;
}

input {
  border: none;
  border-radius: 25px;
  padding: 8px;
  height: 50px;
  font-size: 16px;
  font-family: var(--primary-font);
}

.subscribe input[type="email"] {
  width: 60%;
  margin-right: 10px;
}

.subscribe input[type="submit"] {
  background-color: var(--secondary-color);
  color: #0e0066;
  font-weight: 800;
  width: 30%;
  cursor: pointer;
}

/* End of Subscribe Form */

footer {
  margin-top: 50px;
}
